/*
  style sheet for Topten component.
*/
body {
  font-size: 16px;
  color: #ffffff;
  background-color: #17181a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topten-container {
  text-align: center;
  width: 90vw;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.topten-header {  /** may be discard later */
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
}

.topten-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width:1500px;
  gap: 20px;
  margin-top: 0px;
}

.topten-item {
  display: flex;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.1);/* adding a layer of black here*/
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.topten-item:hover {
  transform: scale(1.05);
}

.topten-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.topten-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  max-width: 40%;
}

.vertical-line {
  width: 2px; 
  background-color: white; 
  height: 100%; /* Full height of the container */
  margin: 0 20px;
}

/* Rank and detail descriptions of the Artwork */
.topten-rank {            /* Rank - the large number displayed on the page */
  font-size: 4vw;
  font-weight: 800;
  margin-right: 10px;
  opacity: .8;
}

.topten-category {
  font-size: 1em;
  opacity: .8;
}

.topten-title {
  font-size: 1.3em;
}

.topten-text {
  text-align: left;
  flex-grow: 1;
  opacity: .8;
}

.detail-list-description p {
  font-size: .8em;
}
/* End of Rank and detail descriptions of the Artwork */

.topten-secondary-image {
  width: 5vw;
  padding-top: 20px;
  max-width: 100px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
  align-self: left;
}

/** 
  main image part
*/
.topten-right {
  flex: 1;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.topten-main-image {
  width: 100%;
  height: 100%;
  max-width: 350px;
  aspect-ratio: auto;
  object-fit: cover;
  height: auto;
}

/*
  Clickable topten artwork names and artist
*/
.topten-text .topten-link {
  color: white;   
  font-size: 1.1em;       
}

.topten-link:hover {
  color: #9d9acc;           
  text-decoration: underline;
}
/*
  End of clickable topten artwork names and artist
*/

/*
  render about the wiki link in ToptenArtistsPage
*/
.wiki-link {
  font-size: 1.8em;
  color: #ae838c;
  text-decoration: none;
}

.wiki-link:hover {
  color: #9d9acc;
}


/* Responsive Layout Adjustments */
/* For small screen device */
@media (max-width: 599px) {
  .topten-list {
      grid-template-columns: 1fr; /* One column for small screens */
  }
  .topten-left {
      flex-direction: column;
      align-items: left;
  }
  .topten-rank {
    align-items: left;
  }
  .topten-item {
    flex-direction: column; /* Stack elements vertically */
    text-align: left;
  }
  .topten-main-images {
      flex-direction: column;
  }
  .topten-secondary-image {
    display: none;
  }
  .topten-text {
    text-align: left;
    flex-grow: 1;
    opacity: .8;
    align-items: flex-end;
  }
  
}

/* For medium screen device */
@media (min-width: 768px) {
  .topten-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* For large screen device */
@media (min-width: 1200px) {
  .topten-list {
      grid-template-columns: repeat(1, 1fr);
  }
  .topten-main-image {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    aspect-ratio: auto;
    object-fit: cover;
    height: auto;
  }

  .topten-container {
    padding-right: 20%;
    transition: padding-right 0.3s ease;
  }
}