
body {
  font-size: 16px;
  color: #ffffff;/* backup color: #f2ded8;*/
  background-color: #17181a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topten-container {
  /*background-color: #17181a; opional color: #ae838c*/
  text-align: center;
  margin: auto;
  width: 90vw;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.topten-header {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
}

.topten-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width:1500px;
  gap: 20px;

  margin-top: 0px;
}

.topten-item {
  display: flex;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.1);/* rgba(174, 131, 140, 0.6);*/
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.topten-item:hover {
  transform: scale(1.05);
}

.topten-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: space-between;
}

.topten-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  max-width: 40%;
}

.vertical-line {
  width: 2px; /* Narrow width */
  background-color: white; /* White color */
  height: 100%; /* Full height of the container */
  margin: 0 20px; /* Add spacing around the line */
}

/* Rank and detail descriptions of the Artwork */
.topten-rank {            /* Rank - the large number displayed on the page */
  font-size: 4vw;
  font-weight: 800;
  margin-right: 10px;
  opacity: .6;
}

.topten-category {
  font-size: 1em;
  opacity: .6;
}

.topten-title {
  font-size: 1.3em;
}

.topten-text {
  text-align: left;
  flex-grow: 1;
  opacity: .6;
}

.detail-list-description p {
  font-size: .8em;
}
/* End of Rank and detail descriptions of the Artwork */

.topten-secondary-image {
  width: 50%;
  padding-top: 20px;
  max-width: 100px;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
  align-self: left;
}

.topten-right {
  flex: 1;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.topten-main-image {
  width: 100%;
  height: 100%;
  max-width: 350px;
  aspect-ratio: auto;
  object-fit: cover;
  height: auto;
  /* border-radius: 10px;  if we want smooth corner */
}

/*
  Clickable topten artwork names and artist
*/
.topten-text .topten-link {
  color: #f2ded8;           /* Soft beige or any light color you like */
  text-decoration: underline;    /* Remove underline */
  font-weight: bold;        /* Optional: emphasize */
  font-style: Italic;
  transition: color 0.3s ease;
}

.topten-link:hover {
  color: #ffdd57;           /* Bright hover color */
  text-decoration: underline;
}
/*
  End of clickable topten artwork names and artist
*/


/* Responsive Layout Adjustments */
/* For small screen device */
@media (max-width: 599px) {
  .topten-list {
      grid-template-columns: 1fr; /* One column for small screens */
  }
  .topten-left {
      flex-direction: column;
      align-items: left;
  }
  .topten-rank {
    align-items: left;
  }
  .topten-item {
    flex-direction: column; /* Stack elements vertically */
    text-align: left;
  }
  .topten-main-images {
      flex-direction: column;
  }
  .topten-secondary-image {
    display: none;
  }
  .topten-text {
    text-align: left;
    flex-grow: 1;
    opacity: .6;
    align-items: flex-end;
  }
  
}

/* For medium screen device */
@media (min-width: 600px) {
  .topten-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* For large screen device */
@media (min-width: 1200px) {
  /* if image resolution is enough, apply the following part */
  .topten-list {
      grid-template-columns: repeat(1, 1fr);
  }
  .topten-main-image {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    aspect-ratio: auto;
    object-fit: cover;
    height: auto;
  }


  /* if the image resolution is not so good, using the following part: 

  .topten-list {
      grid-template-columns: repeat(3, 1fr);
  }*/
}