.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  background-color: #000000;
}

/* Custom X markers */
.custom-marker {
  font-family: "Caveat", cursive;
  color: #407076;
  border-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  z-index: 9999;
}

.custom-marker:hover {
  color: #ae838c;
}

/* Navigation Pane */
.nav-pane {
  position: fixed;
  top: 0;
  right: -35rem; /* Start off-screen */
  width: 35rem;
  height: 100vh;
  background: rgba(97, 131, 180, 0.9);
  /* backdrop-filter: blur(10px); */
  opacity: 100%;
  box-shadow: -0.25rem 0 0.625rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.nav-pane.open {
  right: 0; /* Slide in when a location is selected */
}

/* Vertical text for folded state */
.nav-pane p {
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.nav-pane.open p {
  writing-mode: horizontal-tb;
  position: static;
  transform: none;
}

.nav-pane h2 {
  margin: 0 0 10px;
  color: lightgrey;
  /* font-family: "Monoton", sans-serif; need to check again */
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

/* Cards */
.artwork-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 20px;
}

.artwork-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
}

.artwork-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.artwork-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.artwork-details {
  padding: 16px;
  color: #111;
}

.artwork-details h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #6a4b3d;
}

.artwork-details p {
  color: #ae838c;
  font-size: 0.9rem;
  margin: 4px 0;
}
