.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  background-color: #000000;
}

/* Custom X markers */

.custom-marker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.custom-marker {
  font-size: 1.5rem;
  cursor: pointer;
  color: #407076;
}

.custom-label {
  margin-top: 0.1rem;
  font-size: 0.5rem;
  /* font-weight: bold; */
  color: #22222200;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* padding: 0.1rem; */
  /* border-radius: 4px; */
  white-space: nowrap;
  pointer-events: none;
}

.custom-marker:hover {
  color: #ae838c;
}

/* Navigation Pane */
.nav-pane {
  position: fixed;
  top: 4rem;
  right: -40vw; /* Start off-screen */
  width: 40vw;
  height: 100vh;
  /* background: rgba(97, 131, 180, 0.9); */
  background: #4f5d75;
  /* backdrop-filter: blur(10px); */
  opacity: 0.9;
  box-shadow: -0.25rem 0 0.625rem rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.nav-pane.open {
  right: 0; /* Slide in when a location is selected */
}

.nav-pane-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1); /* Optional dim background */
  display: flex;
  justify-content: flex-end; /* Align pane to the right */
  z-index: 999;
}

/* Vertical text for folded state */
.nav-pane.default {
  top: 5rem;
}
.nav-pane.default p {
  top: 45%;
  font-family: "Limelight", sans-serif;
}
.nav-pane p {
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.nav-pane.open p {
  writing-mode: horizontal-tb;
  position: static;
  transform: none;
}

.nav-pane h2 {
  font-family: "Limelight", sans-serif;
  font-size: 5rem;
  margin: 0 0 10px;
  color: lightgrey;
  text-align: center;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

/* Cards */
.artwork-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(36vw, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.artwork-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
}

.artwork-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.artwork-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.artwork-details {
  width: 100%;
  padding: 16px;
  color: #111;
}

.artwork-details h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #6a4b3d;
}

.artwork-details p {
  padding-right: 1rem;
  word-wrap: break-word;
  white-space: normal;
  color: #ae838c;
  font-size: 0.9rem;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav-pane.default {
    top: 4rem;
  }
}
