.nationality-table-container {
  background-color: #f2ded8;
  min-height: 100vh;
  padding: 1.5rem;
  color: #ae838c;
  font-family: sans-serif;
}

.table-wrapper {
  /* max-height: 50rem;
    overflow-y: auto; */
  height: 100%;
}

.nationality-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

.nationality-table th {
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 0.5rem;
  border-bottom: 0.125rem solid #ae838c;
}

.nationality-table td {
  padding: 0.5rem;
  padding-left: 0.5rem;
  border-top: 0.0625rem solid #ae838c;
}
