/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #cdd2dd;
  /* border-bottom: 1px solid #e5e5e5; */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* left region: Logo Section */
.navbar-left {
  flex-shrink: 0;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

.logo {
  padding: 0.5 0.5rem;
  width: auto;
  height: 4em;
}

/*  right region: nav links  */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*  Navigation Links  */
.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 5rem;
}

.navbar-link {
  text-decoration: none;
  color: #17181a;
  font-weight: 600;
  font-size: 0.8rem;
  /* font-family: "Chonburi", serif; */
  font-family: "Limelight", sans-serif;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* transition: all 0.2s ease-in-out; */
  transition: font-size 0.4s ease, opacity 0.4s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0rem 0.75rem;
  border-radius: 4px;
  opacity: 0.8;
}

.navbar-link:hover {
  /* background-color: #f5f5f5; */
  color: #9d9acc;
  font-size: 1rem;
}

/* Menu Button (for small device) */
.menu-button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 4.5rem;
}

/* Dropdown Menu (for small device)  */
.menu-dropdown {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: white;
  opacity: 0.8;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  min-width: 10rem;
  right: 5rem;
  z-index: 800;
  display: flex;
  flex-direction: column;
}

.menu-dropdown.active {
  opacity: 1;
  transform: translateY(0);
}

.menu-item {
  font-family: "Limelight", sans-serif;
  display: block;
  padding: 0.75rem 1.25rem;
  color: #343a40;
  text-decoration: none;
  transition: all 0.2s ease;

  font-size: 0.95rem;
  position: relative;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.menu-item:hover {
  /* background-color: #f5f5f5; */
  color: #9d9acc;
}
.menu-item:last-child {
  border-bottom: none;
}

/* small device Override: hide full nav */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .logo {
    padding: 0.5 0.5rem;
    width: auto;
    height: 3em;
  }
}
